.header {
    background-color: #4e4747;
    color: white;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 130px;
    width: 100%;
    text-transform: capitalize;
    z-index: 7;
}

.nav {
    display: flex;
}

.open-mobile {
    display: flex;
}

.close {
    display: none;
}
.a-link {
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 22px;
}

.a-link>img {
    width: auto;
    height: 124px;
    border-radius: 50%;
}
.a-link:visited {
    color: white;
}
.a-link:hover {
    color: #d49863;
}

.a-link:active {
    color: #d49863;
}

/* .mobile-menu {
    float: right;
    order: 1;
    width: 100px;
    z-index: 8;
    cursor: pointer;
    display: none;
} */

/* .line {
    position: absolute;
    z-index: 10;
    color: white;
    width: 40px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
    border-bottom: 3px solid white;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
    
} */
  
/* .line01 {
    top: 38%;
}

.line02 {
    top: 49%;
}

.line03 {
    top: 60%;
} */

/* .hide {
    display: none;
} */

.nav-mobile {
    position: absolute;
    right: 0;
    top: 110px;
    border: 1px solid #4e4747;
    background-color: #4e4747;
}

.nav-mobile>li {
    margin-bottom: 20px;
}

.navbar-toggler {
    border: 1px solid #4e4747;
    background-color: #4e4747;
    margin: 10px;
    display: none;
}
.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    /* transform: rotate(0deg); */
    /* transition: .5s ease-in-out; */
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    z-index: 20;
    background: white;
}

.animated-icon span:nth-child(1) {
    top: 0px;
}
  
.animated-icon span:nth-child(2) {
    top: 10px;
}

.animated-icon span:nth-child(3) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    transform: rotate(135deg);
}
  
.animated-icon.open span:nth-child(2) {
    opacity: 0;
    /* left: -60px; */
}
  
.animated-icon.open span:nth-child(3) {
    top: 11px;
    transform: rotate(-135deg);
}


@media (max-width: 600px) {
    .nav {
        display: none;
    }
    .navbar-toggler {
        display: flex;
    }
}