.header {
    background-color: #4e4747;
    color: white;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 130px;
    width: 100%;
    text-transform: capitalize;
    z-index: 7;
}

.a-link {
    margin: 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

.a-link>img {
    width: auto;
    height: 124px;
    border-radius: 50%;
}
.a-link:visited {
    color: inherit;
}
.a-link:hover {
    color: #d49863;
}

.a-link:active {
    color: #d49863;
}
