.about {
    width: 70%;
    margin: 100px auto;
    line-height: 1.75;
}

.about>h1 {
    color: #d27019;
    /* text-shadow: 3px 1px 0px #c7bebe; */
    font-style: italic;
    padding-top: 140px;
}
.about-text-container {
    text-align: start;
}
.about-text {
    margin-bottom: 25px;
}
.education-list {
    margin-left: 50px;
}

.education-list>li {
    list-style-type: disc;
}

.labels {
    margin-bottom: 25px;
    flex-wrap: wrap;
}
.labels>p {
    border: 1px solid #dcc3c3;
    padding: 4px;
    margin: 10px 5px;
    border-radius: 4px;
    min-width: fit-content;
}
.education-list {
    margin-bottom: 25px;
}
.cv {
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
}
.bold {
    font-weight: bold;
}
@media (max-width: 600px) {
    .about {
        width: 85%;
    }
}