.home {
    /* margin-top: 120px; */
    /* height: 300px; */
    padding-top: 100px;
    padding-bottom: 100px;
    /* position: absolute; */
}

.home-img {
    width: 100%;
}
.home-container {
    height: 500px;
    width: 100%;
    padding-top: 20px;
    color: #9a5a22;
    z-index: 3;
    position: relative;
    top: -525px;
    justify-content: space-between;
}                    

.home-container>h1 {
    font-style: italic;
    margin-bottom: 100px;
    padding-top: 10px;
    text-shadow: 3px 1px 0px white;
    font-size: 3em;
}

.home-title {
    font-size: 1.5em;
    padding-top: 15px;
    padding-left: 15px;
    margin: auto;
}
.home-title>img {
    width: 225px;
    height: 225px;
    /* border: 7px solid white; */
    border-radius: 50%;
}
.home-details {
    justify-content: space-between;
    align-items: center;
    margin: auto 20px;
}