.contact-list {
    align-items: center;
}

.contact>h3 {
    text-transform: initial;
}

.contact>h1 {
    color: #d27019;
    /* text-shadow: 3px 1px 0px #c7bebe; */
    font-style: italic;
    margin: 40px auto;
    padding-top: 140px;
}

.link-icon {
    font-size: 28px;
    color: #4e4747d9;
    margin: 10px;
}

.link:hover, .phone:hover {
    color: black;
}

.link {
    align-self: center;
    text-decoration: none;
    color: #4e4747;
}
.phone-icon {
    cursor: pointer;
    color: #4e4747d9;
    font-size: 24px;
    margin: 10px;
}
.phone {
    align-self: center;
    color: #4e4747;
}
.phone-container {
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .link>p, .phone {
        font-size: 15px;
    }
    .contact-list {
        padding: 10px;
    }
    .contact>h3 {
        padding: 10px;
    }
}